<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<form action="" method="post" id="check-out">
    <div class="hom-com">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="hp-section">
                            <div class="hp-sub-tit">
                                {{#each room.hotel}}
                                <h1>{{this.propertyName}}</h1>
                                <p>{{this.Address}}</p>
                                <h4><span>{{room.category}}</span> Room</h4>
                                {{/each}}


                            </div>
                            <div>

                                <h4 for="">Upload ID proof</h4>
                                <img src="" id="img1" style="width: 100px;display: none;">
                                <input class="form-control" type="file" accept="images/*" onchange="viewImage1(event)"
                                    style="border: solid;border-width: 1px;" name="idproof" id="idproof" required>


                            </div>
                            <div style="overflow: visible;">

                                <h4 for="">Select a payment method</h4>
                                <div class="switch">
                                    {{#if wallet}}
                                    <label
                                        style="font-family: sans-serif;font-size: 15px; font-weight: 200;color: black;">
                                        Other payments
                                        {{!--
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        --}}
                                        <input type="checkbox" name="walletPayment" id="walletPayment"> <span
                                            class="lever"></span>
                                        Pay from wallet
                                    </label><br><br>
                                    {{/if}}
                                    <div id="payAt">
                                        <label
                                            style="font-family: sans-serif;font-size: 15px; font-weight: 200;color: black;">
                                            Online payment
                                            <input type="checkbox" name="payment" id="payment"> <span
                                                class="lever"></span>
                                            Pay at hotel
                                        </label>
                                    </div><br><br>
                                    <div id="online" style="margin-left: 40px;">
                                        <label
                                            style="font-family: sans-serif;font-size: 15px; font-weight: 200;color: black;">
                                            Razorpay
                                            <input type="checkbox" name="onlinepayment" id="onlinepayment"> <span
                                                class="lever1"></span>
                                            Paypal
                                        </label>
                                    </div>


                                </div>
                                <button type="submit"
                                    style="border: none;margin-top: 30px;height: 40px; width: 100%;background-color: rgb(236, 0, 79);display: block;"
                                    id="pay"><a style="text-align: center;color: white;">BOOK ROOM</a></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--=========================================-->
                    <div class="hp-call hp-right-com">
                        {{#if room.discount}}
                        <div class="ribbon ribbon-top-left"><span>{{room.discount}}% OFF</span>
                        </div>
                        {{/if}}
                        <div class="hp-call-in">
                            <div style="width: 100%;">
                                <h1 style="float: left;">{{room.id}}</h1>
                                {{#if room.discount}}
                                <h1 style="float: right;color: red;">₹{{room.price}}<span
                                        class="room-price">₹{{room.ogPrice}}</span></h1>
                                {{else}}
                                <h1 style="float: right;color: red;">₹{{room.price}}</h1>
                                {{/if}}

                            </div>
                            <div style="width: 100%;height: 100px;">


                            </div>
                            <div>

                                <div class="hp-main-overview">
                                    <ul>
                                        <li>Check In: <span style="color: rgb(0, 0, 0);">{{details.from}}</span>
                                            <input type="text" value="{{room._id}}" name="roomid" hidden>
                                            <input type="text" value="{{details.from}}" name="from" hidden>
                                        </li>
                                        <li>Check Out: <span style="color: rgb(0, 0, 0);">{{details.to}}</span>
                                            <input type="text" value="{{details.to}}" name="to" hidden>
                                        </li>
                                        <li>Room Price: <span style="color: rgb(0, 0, 0);">₹{{room.price}}</span>
                                            <input type="text" value="{{room.price}}" name="price" hidden>
                                        </li>
                                        <li>No. of days : <span style="color: rgb(0, 0, 0);">{{details.days}}</span>
                                            <input type="text" value="{{details.days}}" name="days" hidden>
                                        </li>
                                        <li>No. of rooms : <span style="color: rgb(0, 0, 0);">{{details.room}}</span>
                                            <input type="text" value="{{details.room}}" name="room" hidden>
                                        </li>
                                        <li>No. of guests : <span style="color: rgb(0, 0, 0);">{{details.guest}}</span>
                                            <input type="text" value="{{details.guest}}" name="guest" hidden>
                                        </li>
                                        <li style="display: none;" id="couponList">Applied Coupon:<span
                                                style="color: rgb(0, 0, 0);text-transform: uppercase;"
                                                id="couponName"></span>
                                            <input type="text" value="" id="couponNameInp" name="couponName" hidden>

                                        </li>
                                        <li style="display: none;color: green;" id="youSaved">You Saved:<span
                                                style="color: rgb(0, 0, 0);text-transform: uppercase;color: green;"
                                                id="save"></span>

                                        </li>

                                        <li style="font-size: 18px;">Total : <span class=""
                                                style="color: black;font-size: 18px;"
                                                id="total">₹{{details.total}}</span>
                                            <input type="text" value="{{details.total}}" name="total" id="totalinp"
                                                hidden>
                                            <input type="text" value="{{details.total}}" name="realTotal" id="realTotal"
                                                hidden>
                                        </li>

                                    </ul>

                                    <a class="btn btn-danger" href="#!" data-toggle="modal" data-target="#modal1"
                                        id="applyCoupon" style="height: 50px;"> Apply Coupon</a>
                                    <a class="btn btn-danger" href="#!" id="removeCoupon" onclick="removeCoupon(event)"
                                        style="height: 50px;background-color: rgb(240, 240, 240);color: black;display: none;">Remove
                                        Coupon</a>
                                    </button>
                                </div>
                            </div>

</form>
</div>
</div>
<!--=========================================-->
<!--=========================================-->

<!--=========================================-->
</div>
</div>
</div>
</div>
<div class="">
    <div>
        <!--TOP SECTION-->

        </section>
        <!--END HEADER SECTION-->
        <footer class="site-footer clearfix">
            <div class="sidebar-container">
                <div class="sidebar-inner">
                    <div class="widget-area clearfix">
                        <div class="widget widget_azh_widget">
                            <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 foot-logo"> <img src="images/logo1.png"
                                                alt="logo">
                                            <p class="hasimg">Hotels worldwide incl. Infos, Ratings and Photos. Make
                                                your Hotel
                                                Reservation cheap.</p>
                                            <p class="hasimg">The top-rated hotel booking services.</p>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Support &amp; Help</h4>
                                            <ul class="two-columns">
                                                <li><a href="dashboard.html">Dashboard</a>
                                                </li>
                                                <li><a href="db-activity.html">DB Activity</a>
                                                </li>
                                                <li><a href="booking.html">Booking</a>
                                                </li>
                                                <li><a href="contact-us.html">Contact Us</a>
                                                </li>
                                                <li><a href="about-us.html">About Us</a>
                                                </li>
                                                <li><a href="aminities.html">Aminities</a>
                                                </li>
                                                <li><a href="blog.html">Blog</a>
                                                </li>
                                                <li><a href="menu1.html">Food Menu</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Popular Services</h4>
                                            <ul class="two-columns">
                                                <li><a href="all-hotels.html">Our Hotels</a>
                                                </li>
                                                <li><a href="about-us.html">About Us</a>
                                                </li>
                                                <li><a href="contact-us.html">Contact Us</a>
                                                </li>
                                                <li><a href="all-rooms.html">Master Suite</a>
                                                </li>
                                                <li><a href="all-rooms.html">Mini-Suite</a>
                                                </li>
                                                <li><a href="all-rooms.html">Ultra Deluxe</a>
                                                </li>
                                                <li><a href="all-rooms.html">Luxury Room</a>
                                                </li>
                                                <li><a href="all-rooms.html">Normal Room</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Address</h4>
                                            <p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A. Landmark :
                                                Next To
                                                Airport</p>
                                            <p> <span class="foot-phone">Phone: </span> <span class="foot-phone">+01
                                                    1245
                                                    2541</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot-sec2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Payment Options</h4>
                                            <p class="hasimg"> <img src="images/payment.png" alt="payment"> </p>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <h4>Subscribe Now</h4>
                                            <form>
                                                <ul class="foot-subsc">
                                                    <li>
                                                        <input type="text" placeholder="Enter your email id">
                                                    </li>
                                                    <li>
                                                        <input type="submit" value="submit">
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                        <div class="col-sm-12 col-md-5 foot-social">
                                            <h4>Follow with us</h4>
                                            <p>Join the thousands of other There are many variations of passages of
                                                Lorem Ipsum
                                                available</p>
                                            <ul>
                                                <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-google-plus"
                                                            aria-hidden="true"></i></a> </li>
                                                <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget-area -->
                </div>
                <!-- .sidebar-inner -->
            </div>
            <!-- #quaternary -->
        </footer>
        <section class="copy">
            <div class="container">
                <p>copyrights © 2017 RN53Themes.net. &nbsp;&nbsp;All rights reserved. </p>
            </div>
            <div id="modal1" class="modal fade" role="dialog" style="margin-top: 100px;">
                <div class="log-in-pop" style="border-radius: 5px;background-color: transparent;">
                    <div class="container" style="width: 100%;background-color: rgb(66, 66, 66);border-radius: 5px;">
                        <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                        </a>

                        <div class="row" style="margin-top: 40px;padding: 40px;">
                            <h1 style="color: white;margin-left: 10px;">Coupons</h1>
                            {{#each coupons}}

                            <button class="col s11 m5 l2"
                                style="padding: 0%;background-color: transparent;border: none;margin: 10px;"
                                onclick="coupon(event,{{this.couponPercentage}},'{{this.couponCode}}')"
                                data-dismiss="modal">
                                <div class="col s12 m12 l12"
                                    style="height: 210px;background-color: rgb(110, 31, 175);border-radius: 5px;">
                                    <div
                                        style="text-align: center; padding: 10%;padding-top: 40px;font-family: sans-serif;padding-bottom: 0px;">
                                        <h1
                                            style="margin: 1%;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;color: white;">
                                            {{this.couponPercentage}}%</h1>
                                        <h5 style="color: white;">OFF</h5>
                                    </div>
                                    <h6 style="margin: 0%;text-align: center;color: white;">APPLY</h6>
                                    <div style="width: 100%;height: 20px;background-color: white;">
                                        <h4
                                            style="text-align: center;text-transform: uppercase;font-size: 100%  ;padding-top: 3px;">
                                            {{this.couponCode}}</h4>
                                    </div>
                                    <h6
                                        style="margin: 0%;text-align: center;color: white;word-wrap: break-word;margin-top: 4px;">
                                        Expiry:{{this.couponExpiry}}</h6>
                                </div>
                            </button>
                            {{/each}}

                        </div>





                    </div>
                </div>
            </div>
            <div id="modal2" class="modal " role="dialog">
                <div class="log-in-pop">
                    <div class="log-in-pop-right">
                         
                        <div class="col-lg-6">
                            <div id="image-box" style="width: 550px; display: none;border-radius: 0px ;"></div>
                            <button class="btn btn-primary mt-3" type="button" style="display: none;margin-top: 20px;"
                                id="crop-btn" data-dismiss="modal1">Crop</button>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            let i = 0
            $('#walletPayment').change(function () {
                if (i == 0) {
                    $('#online').css('display', 'none')
                    $('#payAt').css('display', 'none')

                    i = 1
                } else {
                    $('#online').css('display', 'block')
                    $('#payAt').css('display', 'block')

                    i = 0
                }
            })
        </script>
        <script>
            let j = 0
            $('#payment').change(function () {
                if (j == 0) {
                    $('#online').css('display', 'none')

                    j = 1
                } else {
                    $('#online').css('display', 'block')

                    j = 0
                }
            })
        </script>

        <script>

            var details
            $("#check-out").submit(function (e) {

                e.preventDefault()
                data = document.getElementById('check-out')
                let formData = new FormData(data)
                formData.append("file", idproof.files[0])
                $.ajax({
                    url: '/orderRazorPay',
                    method: 'post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: (response) => {

                        if (response.paypal) {

                            window.location.href = response.payment

                        } else if (response.payAtHotel) {
                            window.location.href = '/success'

                        } else if (response.payWithWallet) {
                            window.location.href = '/success'
                        }
                        else {

                            details = response.details
                            razorpayment(response.order)
                        }
                    }

                })


            });
            function razorpayment(order) {
                var options = {
                    "key": "rzp_test_8hOY0y9Me41Hz6", // Enter the Key ID generated from the Dashboard
                    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Find your stay",
                    "description": "Test Transaction",
                    "image": "/images/razor.png",
                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the previous step
                    "handler": function (response) {
                      
                        verifypayment(response, details)
                    },
                    "prefill": {
                        "name": "Anas KT",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9446406469"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    alert(response.error.code);
                    alert(response.error.description);
                    alert(response.error.source);
                    alert(response.error.step);
                    alert(response.error.reason);
                    alert(response.error.metadata.order_id);
                    alert(response.error.metadata.payment_id);
                });

                rzp1.open();

            }

            function verifypayment(response, details) {
                console.log("dfgd" + details)
                $.ajax({
                    url: '/verifypayment',
                    data: { response, details },
                    method: 'post',
                    success: (response) => {
                        if (response.paymentsuccess) {
                            window.location.href = '/success'
                        } else {
                            alert("payment failed")
                        }
                    }
                })
            }
        </script>
        <script>
            function coupon(event, percentage, code) {
                let total = document.getElementById('totalinp').value
                console.log(total)
                console.log(percentage)
                let save = parseInt((total * percentage) / 100)
                total = parseInt(total - save)
                console.log(total)
                document.getElementById('total').innerHTML = "₹" + total
                document.getElementById('applyCoupon').style.display = 'none'
                document.getElementById('removeCoupon').style.display = 'block'
                document.getElementById('couponList').style.display = 'block'
                document.getElementById('youSaved').style.display = 'block'
                console.log(code)
                document.getElementById('couponName').innerHTML = code
                document.getElementById('couponNameInp').disabled = false
                document.getElementById('couponNameInp').value = code
                document.getElementById('save').innerHTML = "₹" + save
                document.getElementById('totalinp').value = total

            }
            function removeCoupon(event) {
                let realTotal = document.getElementById('realTotal').value
                console.log(realTotal)
                document.getElementById('total').innerHTML = "₹" + realTotal
                document.getElementById('applyCoupon').style.display = 'block'
                document.getElementById('removeCoupon').style.display = 'none'
                document.getElementById('couponList').style.display = 'none'
                document.getElementById('totalinp').value = realTotal
                document.getElementById('youSaved').style.display = 'none'
                document.getElementById('couponNameInp').disabled = true
            }
        </script>
        <script>
            function viewImage1(event) {
                const imagebox = document.getElementById('image-box')
                const crop_btn = document.getElementById('crop-btn')
                var fileInput = document.getElementById('idproof');

                let file1 = event.target.files[0].name
                let file = event.target.files[0]
                let extension = file1.split('.').pop()
                if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
                    document.getElementById('img1').src = URL.createObjectURL(event.target.files[0])
                    document.getElementById('img1').style.display = 'block'

                    $('#modal2').modal({
                        dismissible: true
                    });

                    //call the specific div (modal)
                    $('#modal2').modal('open');
                    const img_data = fileInput.files[0]
                    const url = URL.createObjectURL(img_data)
                    imagebox.innerHTML = `<img  src="${url}" id="image" style="width:100%">`
                    const image = document.getElementById('image')
                    console.log(image)
                    document.getElementById('image-box').style.display = 'block'
                    document.getElementById('crop-btn').style.display = 'block'



                    const cropper = new Cropper(image, {
                        autoCropArea: 1,
                        viewMode: 1,
                        scalable: false,
                        zoomable: false,
                        movable: false,
                        aspectRatio: 16 / 9,
                        //  preview: '.preview',
                        minCropBoxWidth: 180,
                        minCropBoxHeight: 200,
                    })
                    crop_btn.addEventListener('click', () => {
                        cropper.getCroppedCanvas().toBlob((blob) => {
                            let fileInputElement = document.getElementById('idproof');
                            let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                            let container = new DataTransfer();

                            container.items.add(file);
                            const img = container.files[0]
                            var url = URL.createObjectURL(img)
                            fileInputElement.files = container.files;
                            document.getElementById('img1').src = url
                            document.getElementById('image-box').style.display = 'none'
                            document.getElementById('crop-btn').style.display = 'none'

                        });   
                        $('#modal2').toggle();
                    });

                } else {

                    document.getElementById('errormessage1').style.display = 'block'
                    $('#img1').val(null)
                }

            }
        </script>