<!--END HOTEL ROOMS-->
<!--CHECK AVAILABILITY FORM-->
<div class="check-available" style="margin-top: 60px;padding: 0%;background-color: rgb(37, 37, 37);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inn-com-form">
                    <form class="col s12" method="post" action="/search" id="indexsearch"
                        style="background-color: rgb(37, 37, 37);">
                        <div class="row">
                            <div class="col s12 avail-title">

                            </div>
                        </div>
                        {{#if search}}
                        <div class="row">
                            <div class="input-field col s12 m4 l2">
                                 <input list="locations"type="text" id="" class="" autocomplete="off"value="{{search.location}}"
										placeholder="Location" name="location" style="">
										<datalist id="locations">
											{{#each locations}}
											<option value="{{this._id}}">{{this._id}}</option>
											{{/each}}
										</datalist>
                                {{!-- <input type="text" placeholder="Location" value="{{search.location}}" name="location"> --}}
                            </div>
                            <div class="input-field  col s12 m4 l2">

                                <div>
                                    <button type="button" class="sidebutton11 col s3 " id="roomminus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                    <input class="col s6" id="inproom" type="number" value="{{search.room}}" min="1"
                                        name="room" style="display: inline;text-align:center;border-radius: 0%;"
                                        readonly>
                                    <button type="button" class=" col s3 " id="roomplus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                </div>
                            </div>
                            <div class="input-field  col s12 m4 l2">
                                <div>
                                    <button type="button" class="sidebutton11 col s3 " id="guestminus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                    <input class="col s6" id="inpguest" type="number" value="{{search.guest}}" min="1"
                                        name="guest" style="display: inline;text-align:center" readonly>
                                    <button type="button" onclick class=" col s3 " id="guestplus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                </div>
                            </div>

                            <div class="input-field col s12 m4 l2">
                                <input type="text" id="from" name="from" placeholder="Check in" value="{{search.from}}">

                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input type="text" id="to" name="to" placeholder="Check out" value="{{search.to}}">

                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input type="submit" value="Search" class="form-btn">
                            </div>
                        </div>
                        {{else}}
                        <div class="row">
                            <div class="input-field col s12 m4 l2">
                                <input type="text" placeholder="Location" value="" name="location">
                            </div>
                            <div class="input-field  col s12 m4 l2">

                                <div>
                                    <button type="button" class="sidebutton11 col s3 " id="roomminus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                    <input class="col s6" id="inproom" type="number" value="1" min="1" name="room"
                                        style="display: inline;text-align:center;border-radius: 0%;" readonly>
                                    <button type="button" class=" col s3 " id="roomplus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                </div>
                            </div>
                            <div class="input-field  col s12 m4 l2">
                                <div>
                                    <button type="button" class="sidebutton11 col s3 " id="guestminus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                    <input class="col s6" id="inpguest" type="number" value="1" min="1" name="guest"
                                        style="display: inline;text-align:center" readonly>
                                    <button type="button" onclick class=" col s3 " id="guestplus"
                                        style="display: inline;height: 45px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                </div>
                            </div>

                            <div class="input-field col s12 m4 l2">
                                <input type="text" id="from" name="from" placeholder="Check in" value="">

                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input type="text" id="to" name="to" placeholder="Check out" value="">

                            </div>
                            <div class="input-field col s12 m4 l2">
                                <input type="submit" value="Search" class="form-btn">
                            </div>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END CHECK AVAILABILITY FORM-->
<div class="container">
    <div style=" margin-top:20px;">
        <div class="col-xs-12 col-sm-10">
            <img class="pro col-xs-12 col-sm-10 img-responsive" src="vendor-room-images/{{room._id}}1.jpeg" alt=""
                style="padding: 0.1%  ;display: block;" id="images">
        </div>

        <img class="product-image col-xs-2  img-responsive" src="vendor-room-images/{{room._id}}1.jpeg" alt=""
            onclick="imageChange1(event)" style="padding: 0.2%  ;" id="image1">
        <img class="pro-image col-xs-2  img-responsive" src="vendor-room-images/{{room._id}}2.jpeg" alt=""
            onclick="imageChange2(event)" style="padding: 0.2%  ;" id="image2">
        <img class="pro-image col-xs-2  img-responsive" src="vendor-room-images/{{room._id}}3.jpeg" alt=""
            onclick="imageChange3(event)" style="padding: 0.2%  ;" id="image3">
        <img class="pro-image col-xs-2 img-responsive" src="vendor-room-images/{{room._id}}4.jpeg" alt=""
            onclick="imageChange4(event)" style="padding: 0.2%  ;" id="image4">

    </div>

</div>
<div class="hom-com">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="hp-section">
                        <div class="hp-sub-tit">

                            {{#each room.hotel}}
                            <h1>{{this.propertyName}}</h1>
                            <p>{{this.Address}}</p>


                            <h4><span>{{room.category}}</span> Room</h4>


                        </div>
                        <p>{{this.Description}}</p>
                        {{/each}}
                    </div>
                    <div class="hp-section">
                        <div class="hp-sub-tit">
                            <h4><span>Aminitiese</span> Room</h4>

                        </div>
                        <div class="hp-amini">
                            <ul>{{#if room.Aminity1}}
                                <li><i class="fas fa-temperature-low"></i> {{room.Aminity1}}</li>
                                {{/if}}
                                {{#if room.Aminity2}}
                                <li><i class="fas fa-wifi"></i> {{room.Aminity2}}</li>
                                {{/if}}
                                {{#if room.Aminity3}}
                                <li><i class="far fa-credit-card"></i> {{room.Aminity3}}</li>
                                {{/if}}
                                {{#if room.Aminity4}}
                                <li><i class="fas fa-tv"></i> {{room.Aminity4}}</li>
                                {{/if}}
                                {{#if room.Aminity5}}
                                <li>{{room.Aminity5}}</li>
                                {{/if}}

                            </ul>
                        </div>
                    </div>

                    <div class="hp-section last-sec-spa">
                        <div class="hp-sub-tit">
                            <h4><span>USER</span> REVIEWS</h4>
        
                        </div>
                        <div class="lp-ur-all-rat">
                            <ul>
                                {{#if finalReviews}}
                                {{#each finalReviews}}

                                <li>
                                    <div class="lr-user-wr-img"> <img style="border-radius: 999px;" src="/profile-picture/{{this.userId}}.jpeg" alt=""> </div>
                                    <div class="lr-user-wr-con">
                                        <h6>{{this.userName}} 
                                        </h6>
                                        <p>{{this.review}} </p>
                                        
                                    </div>
                                </li>
                                {{/each}}
                                {{else}}
                                    <p style="text-align: center;">There is no reviews</p>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=========================================-->
                <div class="hp-call hp-right-com" style="background-color: rgb(255, 255, 255);">
                    {{#if room.discount}}
                    <div class="ribbon ribbon-top-left"><span>{{room.discount}}% OFF</span>
                    </div>
                    {{/if}}
                    <div class="hp-call-in">
                        <div style="width: 100%;top: 0;z-index: 1;height: 100px;">
                            <h1 style="float: left;">{{room.id}}</h1>
                            {{#if room.discount}}
                            <h1 style="float: right;color: red;">₹{{room.price}}<span
                                    class="room-price">₹{{room.ogPrice}}</span></h1>
                            {{else}}
                            <h1 style="float: right;color: red;">₹{{room.price}}</h1>
                            {{/if}}

                        </div>
                        <div style="width: 100%;height: 100px;margin-top: 50px;">
                            <form action="/roomCheck?id={{details.id}}" method="post">
                                {{#if search}}
                                <div class="input-field col s6" style="display: block;">
                                    <input class="datePick" type="text" id="from-book" name="from"
                                        placeholder="Check In" style="text-indent: 2px;" value="{{search.from}}"
                                        onchange="show()" readonly required>

                                </div>

                                <div class="input-field col s6">
                                    <input class="datePick" type="text" id="to-book" name="to" placeholder="Check Out"
                                        style="text-indent: 2px;" value="{{search.to}}" onchange="show()" readonly
                                        required>

                                </div>
                                <div class="input-field  col s12 m4 l6">

                                    <div>
                                        <button type="button" class="sidebutton11 col s3 " id="roomminuscheck"
                                            onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                        <input class="col s6" id="inproomcheck" type="number" value="{{search.room}}"
                                            min="1" name="room"
                                            style="display: inline;text-align:center;border-radius: 0%;"
                                            onchange="show()" readonly>
                                        <button type="button" class=" col s3 " id="roompluscheck" onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                    </div>


                                </div>
                                <div class="input-field  col s12 m4 l6">
                                    <div>
                                        <button type="button" class="sidebutton11 col s3 " id="guestminuscheck"
                                            onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                        <input class="col s6" id="inpguestcheck" type="number" value="{{search.guest}}"
                                            min="1" name="guest" style="display: inline;text-align:center;"
                                            onchange="show()" readonly>
                                        <button type="button" class=" col s3 " id="guestpluscheck" onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                    </div>
                                </div>
                                <div class="col l12" style="margin-top: 10px;">
                                    <button class="col l12"
                                        style="border-radius: 0%;background-color: rgb(248, 45, 79);color: white;border: none;display: none;"
                                        id="check">CHECK</button>
                                </div>
                                {{else}}
                                <div class="input-field col s6" style="display: block;">
                                    <input class="datePick" type="text" id="from-book" name="from"
                                        placeholder="Check In" style="text-indent: 2px;" value={{details.from}}
                                        onchange="show()" readonly>

                                </div>

                                <div class="input-field col s6">
                                    <input class="datePick" type="text" id="to-book" name="to" placeholder="Check Out"
                                        style="text-indent: 2px;" value="{{details.to}}" onchange="show()" readonly>

                                </div>
                                <div class="input-field  col s12 m4 l6">

                                    <div>
                                        <button type="button" class="sidebutton11 col s3 " id="roomminuscheck"
                                            onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                        <input class="col s6" id="inproomcheck" type="number" value="1" min="1"
                                            name="room" style="display: inline;text-align:center;border-radius: 0%;"
                                            onchange="show()" readonly>
                                        <button type="button" class=" col s3 " id="roompluscheck" onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                    </div>


                                </div>
                                <div class="input-field  col s12 m4 l6">
                                    <div>
                                        <button type="button" class="sidebutton11 col s3 " id="guestminuscheck"
                                            onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-right: none;">-</button>

                                        <input class="col s6" id="inpguestcheck" type="number" value="1" min="1"
                                            name="guest" style="display: inline;text-align:center;" onchange="show()"
                                            readonly>
                                        <button type="button" class=" col s3 " id="guestpluscheck" onclick="show()"
                                            style="display: inline;height: 24px;border:none;font-size:20px;background:white;border:solid;border-width: 1px;border-color: rgb(218, 218, 218);border-left: none;">+</button>
                                    </div>
                                </div>
                                <div class="col l12" style="margin-top: 10px;">
                                    <button class="col l12"
                                        style="border-radius: 0%;background-color: rgb(248, 45, 79);color: white;border: none;display: none;"
                                        id="check">CHECK</button>
                                </div>
                                {{/if}}
                            </form>
                        </div>

                        <div>
                            <form action="/bookNow?id={{details.id}}" method="post">

                                <input class="datePick" type="text" id="from-book" name="from" placeholder="Check In"
                                    style="text-indent: 2px;" value="{{search.from}}" readonly hidden>
                                <input class="datePick" type="text" id="to-book" name="to" placeholder="Check Out"
                                    style="text-indent: 2px;" value="{{search.to}}" readonly hidden>

                                {{!-- <input class="col s6" id="inpguest" type="number" value="{{search.guest}}" min="1"
                                    name="guest" style="display: none;text-align:center" readonly> --}}

                                <div class="hp-main-overview">

                                    <ul>
                                        <li>Room Price: <span style="color: rgb(0, 0, 0);">₹{{room.price}}</span>
                                            <input type="text" value="{{room.price}}" name="price" hidden>
                                        </li>
                                        <li>No. of days : <span>{{details.days}}</span>
                                            <input type="text" value="{{details.days}}" name="days" hidden>
                                        </li>
                                        <li>No. of rooms : <span>{{details.room}}</span>
                                            <input type="text" value="{{details.room}}" name="room" hidden>
                                        </li>
                                        <li>No. of guests : <span>{{details.guest}}</span>
                                            <input type="text" value="{{details.guest}}" name="guest" hidden>
                                        </li>
                                        {{#if details.bed}}
                                        <li>No. of Add.beds : <span>{{details.bed}}x{{room.bed}}</span>
                                            <input type="text" value="{{details.bed}}" name="bed" hidden>
                                        </li>
                                        {{/if}}


                                        <li style="font-size: 18px;">Total : <span class=""
                                                style="color: black;font-size: 18px;">₹{{details.total}}</span>
                                            <input type="text" value="{{details.total}}" name="total" hidden>
                                        </li>
                                    </ul>
                                </div>


                        </div>
                        {{#if isRooms}}
                        <button type="button" style="border: none;width: 100%;background-color: transparent;"><a
                                style="text-align: center;background-color: rgb(236, 236, 236);color: black;">Not
                                Available</a></button>
                        {{else}}
                        <button type="submit" style="border: none;width: 100%;background-color: transparent;"><a
                                style="text-align: center;" id="booknow">Book Now</a></button>
                        {{/if}}
                        </form>
                    </div>
                </div>
                <!--=========================================-->
                <!--=========================================-->

                <!--=========================================-->
            </div>
        </div>
    </div>
</div>
<div class="">
    <div>
        <!--TOP SECTION-->

        </section>
        <!--END HEADER SECTION-->
        <footer class="site-footer clearfix">
            <div class="sidebar-container">
                <div class="sidebar-inner">
                    <div class="widget-area clearfix">
                        <div class="widget widget_azh_widget">
                            <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 foot-logo"> <img src="images/logo1.png"
                                                alt="logo">
                                            <p class="hasimg">Hotels worldwide incl. Infos, Ratings and Photos. Make
                                                your Hotel
                                                Reservation cheap.</p>
                                            <p class="hasimg">The top-rated hotel booking services.</p>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Support &amp; Help</h4>
                                            <ul class="two-columns">
                                                <li><a href="dashboard.html">Dashboard</a>
                                                </li>
                                                <li><a href="db-activity.html">DB Activity</a>
                                                </li>
                                                <li><a href="booking.html">Booking</a>
                                                </li>
                                                <li><a href="contact-us.html">Contact Us</a>
                                                </li>
                                                <li><a href="about-us.html">About Us</a>
                                                </li>
                                                <li><a href="aminities.html">Aminities</a>
                                                </li>
                                                <li><a href="blog.html">Blog</a>
                                                </li>
                                                <li><a href="menu1.html">Food Menu</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Popular Services</h4>
                                            <ul class="two-columns">
                                                <li><a href="all-hotels.html">Our Hotels</a>
                                                </li>
                                                <li><a href="about-us.html">About Us</a>
                                                </li>
                                                <li><a href="contact-us.html">Contact Us</a>
                                                </li>
                                                <li><a href="all-rooms.html">Master Suite</a>
                                                </li>
                                                <li><a href="all-rooms.html">Mini-Suite</a>
                                                </li>
                                                <li><a href="all-rooms.html">Ultra Deluxe</a>
                                                </li>
                                                <li><a href="all-rooms.html">Luxury Room</a>
                                                </li>
                                                <li><a href="all-rooms.html">Normal Room</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Address</h4>
                                            <p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A. Landmark :
                                                Next To
                                                Airport</p>
                                            <p> <span class="foot-phone">Phone: </span> <span class="foot-phone">+01
                                                    1245
                                                    2541</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot-sec2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3">
                                            <h4>Payment Options</h4>
                                            <p class="hasimg"> <img src="images/payment.png" alt="payment"> </p>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <h4>Subscribe Now</h4>
                                            <form>
                                                <ul class="foot-subsc">
                                                    <li>
                                                        <input type="text" placeholder="Enter your email id">
                                                    </li>
                                                    <li>
                                                        <input type="submit" value="submit">
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                        <div class="col-sm-12 col-md-5 foot-social">
                                            <h4>Follow with us</h4>
                                            <p>Join the thousands of other There are many variations of passages of
                                                Lorem Ipsum
                                                available</p>
                                            <ul>
                                                <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-google-plus"
                                                            aria-hidden="true"></i></a> </li>
                                                <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                                </li>
                                                <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .widget-area -->
                </div>
                <!-- .sidebar-inner -->
            </div>
            <!-- #quaternary -->
        </footer>
        <section class="copy">
            <div class="container">
                <p>copyrights © 2017 RN53Themes.net. &nbsp;&nbsp;All rights reserved. </p>
            </div>
        </section>

        <script src="/js/indexSearch.js"></script>
        <script>

            $("#roomplus").click(function () {
                var val = parseInt($("#inproom").val())

                if (val < 4) {
                    val = val + 1
                }
                $("#inproom").val(val)
            })
            $("#roomminus").click(function () {
                var val = parseInt($("#inproom").val())
                var guest = parseInt($("#inpguest").val())
                if (val != 1) {
                    val = val - 1
                }
                $("#inproom").val(val)
                if (guest > (val * 4))
                    $("#inpguest").val(val * 4)

            })
            $("#guestplus").click(function () {
                var val = parseInt($("#inpguest").val())
                var room = parseInt($("#inproom").val())
                if (val < room * 4) {
                    val = val + 1
                }
                $("#inpguest").val(val)
            })
            $("#guestminus").click(function () {
                var val = parseInt($("#inpguest").val())
                if (val != 1) {
                    val = val - 1
                }
                $("#inpguest").val(val)
            })
        </script>
        <script>

            $("#roompluscheck").click(function () {
                var val = parseInt($("#inproomcheck").val())

                if (val < 4) {
                    val = val + 1
                }
                $("#inproomcheck").val(val)
            })
            $("#roomminuscheck").click(function () {
                var val = parseInt($("#inproomcheck").val())
                var guest = parseInt($("#inpguestcheck").val())
                if (val != 1) {
                    val = val - 1
                }
                $("#inproomcheck").val(val)
                if (guest > (val * 4))
                    $("#inpguestcheck").val(val * 4)

            })
            $("#guestpluscheck").click(function () {
                var val = parseInt($("#inpguestcheck").val())
                var room = parseInt($("#inproomcheck").val())
                if (val < room * 4) {
                    val = val + 1
                }
                $("#inpguestcheck").val(val)
            })
            $("#guestminuscheck").click(function () {
                var val = parseInt($("#inpguestcheck").val())
                if (val != 1) {
                    val = val - 1
                }
                $("#inpguestcheck").val(val)
            })
        </script>
        <script>
            function show() {
                document.getElementById("check").style.display = "block"
                document.getElementById("booknow").style.display = "none"
            }
        </script>
        <script>
            let i = 0, j = 0, k = 0, r = 0
            function imageChange1(event) {

                let url = document.getElementById('image1').src
                document.getElementById('imageZoom').src = url
                document.getElementById('image1').style.border = "solid"
                document.getElementById('image2').style.border = "none"
                document.getElementById('image3').style.border = "none"
                document.getElementById('image4').style.border = "none"

                $(function () {
                    $('#imageZoom').imageZoom();
                });


            }
            function imageChange2(event) {

                let url = document.getElementById('image2').src
                document.getElementById('imageZoom').src = url
                document.getElementById('image1').style.border = "none"
                document.getElementById('image2').style.border = "solid"
                document.getElementById('image3').style.border = "none"
                document.getElementById('image4').style.border = "none"

                $(function () {
                    $('#imageZoom').imageZoom();
                });



            }
            function imageChange3(event) {

                let url = document.getElementById('image3').src
                document.getElementById('imageZoom').src = url
                document.getElementById('image1').style.border = "none"
                document.getElementById('image2').style.border = "none"
                document.getElementById('image3').style.border = "solid"
                document.getElementById('image4').style.border = "none"

                $(function () {
                    $('#imageZoom').imageZoom();
                });



            }
            function imageChange4(event) {

                let url = document.getElementById('image4').src
                document.getElementById('imageZoom').src = url
                document.getElementById('image1').style.border = "none"
                document.getElementById('image2').style.border = "none"
                document.getElementById('image3').style.border = "none"
                document.getElementById('image4').style.border = "solid"

                $(function () {
                    $('#imageZoom').imageZoom();
                }); r = 1



            }
        </script>


        <script>
            $(function () {
                $('#images').imageZoom();
            });
        </script>